3_CustomerOrdersWebServiceClient/src/main/resources/wsdl/CustomerOrders.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.deepakbhalla.ws.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerOrdersService"
	targetNamespace="http://www.deepakbhalla.ws.com">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.deepakbhalla.ws.com">
			<!-- product Complex type -->
			<xsd:complexType name="product">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="description" type="xsd:string" />
					<xsd:element name="quantity" type="xsd:integer" />
				</xsd:sequence>
			</xsd:complexType>

			<!-- order Complex Type -->
			<xsd:complexType name="order">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:integer" />
					<xsd:element name="product" type="tns:product"
						maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<!-- Get Orders Request/Response Complex Types -->
			<xsd:complexType name="getOrdersRequest">
				<xsd:sequence>
					<xsd:element name="customerId" type="xsd:integer" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="getOrdersResponse">
				<xsd:sequence>
					<xsd:element name="order" type="tns:order" maxOccurs="unbounded"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<!-- Create Orders Request/Response Complex Types -->
			<xsd:complexType name="createOrdersRequest">
				<xsd:sequence>
					<xsd:element name="customerId" type="xsd:integer" />
					<xsd:element name="order" type="tns:order" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="createOrdersResponse">
				<xsd:sequence>
					<xsd:element name="result" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>

			<!-- Anonymous elements which are used by other messages in this wsdl 
				file -->
			<xsd:element name="getOrdersRequest" type="tns:getOrdersRequest" />
			<xsd:element name="getOrdersResponse" type="tns:getOrdersResponse" />
			<xsd:element name="createOrdersRequest" type="tns:createOrdersRequest" />
			<xsd:element name="createOrdersResponse" type="tns:createOrdersResponse" />
		</xsd:schema>
	</wsdl:types>

	<!-- Messages -->
	<wsdl:message name="getOrdersRequest">
		<wsdl:part element="tns:getOrdersRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getOrdersResponse">
		<wsdl:part element="tns:getOrdersResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="createOrdersRequest">
		<wsdl:part element="tns:createOrdersRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="createOrdersResponse">
		<wsdl:part element="tns:createOrdersResponse" name="parameters" />
	</wsdl:message>

	<!-- Operations -->
	<wsdl:portType name="CustomerOrdersPortType">
		<wsdl:operation name="getOrders">
			<wsdl:input message="tns:getOrdersRequest" name="getOrdersRequest" />
			<wsdl:output message="tns:getOrdersResponse" name="getOrdersResponse" />
		</wsdl:operation>
		<wsdl:operation name="createOrders">
			<wsdl:input message="tns:createOrdersRequest" name="createOrdersRequest" />
			<wsdl:output message="tns:createOrdersResponse" name="createOrdersResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<!-- Bindings -->
	<wsdl:binding name="CustomerOrdersServiceSoapBinding"
		type="tns:CustomerOrdersPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getOrders">
			<soap:operation soapAction="http://www.deepakbhalla.ws.com/getOrders" />
			<wsdl:input name="getOrdersRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getOrdersResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="createOrders">
			<soap:operation soapAction="http://www.deepakbhalla.ws.com/createOrders" />
			<wsdl:input name="createOrdersRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="createOrdersResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<!-- Service -->
	<wsdl:service name="CustomerOrdersService">
		<wsdl:port binding="tns:CustomerOrdersServiceSoapBinding"
			name="CustomerOrdersPort">
			<soap:address
				location="http://localhost:8080/public/online/customerOrderService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
