7_Username-Token-WS-Client/META-INF/wsdl/PaymentProcessorImplService.wsdl

<wsdl:definitions xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.ws.deepak.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PaymentProcessorImplService" targetNamespace="http://soap.ws.deepak.com/">
  <wsdl:types>
    <xs:schema xmlns:tns="http://soap.ws.deepak.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://soap.ws.deepak.com/" version="1.0">
      <xs:element name="processPayment" type="tns:processPayment"></xs:element>
      <xs:element name="processPaymentResponse" type="tns:processPaymentResponse"></xs:element>
      <xs:complexType name="processPayment">
        <xs:sequence>
          <xs:element minOccurs="0" name="paymentProcessorRequest" type="tns:PaymentProcessorRequest"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PaymentProcessorRequest">
        <xs:sequence>
          <xs:element name="creditCardInfo" type="tns:CreditCardInfo"></xs:element>
          <xs:element name="amount" type="xs:double"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CreditCardInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="address" type="xs:string"></xs:element>
          <xs:element minOccurs="0" name="cardNumber" type="xs:string"></xs:element>
          <xs:element minOccurs="0" name="expirtyDate" type="xs:dateTime"></xs:element>
          <xs:element minOccurs="0" name="firstName" type="xs:string"></xs:element>
          <xs:element minOccurs="0" name="lastName" type="xs:string"></xs:element>
          <xs:element minOccurs="0" name="secCode" type="xs:string"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="processPaymentResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="response" type="tns:PaymentProcessorResponse"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PaymentProcessorResponse">
        <xs:sequence>
          <xs:element name="result" type="xs:boolean"></xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="processPayment">
    <wsdl:part element="tns:processPayment" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="processPaymentResponse">
    <wsdl:part element="tns:processPaymentResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PaymentProcessor">
    <wsdl:operation name="processPayment">
      <wsdl:input message="tns:processPayment" name="processPayment"></wsdl:input>
      <wsdl:output message="tns:processPaymentResponse" name="processPaymentResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PaymentProcessorImplServiceSoapBinding" type="tns:PaymentProcessor">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="processPayment">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="processPayment">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="processPaymentResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentProcessorImplService">
    <wsdl:port binding="tns:PaymentProcessorImplServiceSoapBinding" name="PaymentProcessorImplPort">
      <soap:address location="http://localhost:8081/payment/api/v1/payment-processor"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>